VITE_OPENWEATHER_API_KEY=
VITE_VENUE_CITY=Madhubani
VITE_GOOGLE_MAPS_EMBED_URL=
VITE_SHEHNAI_AUDIO_URL=
VITE_INVITATION_PDF_URL=invitation.pdf
VITE_WHATSAPP_NUMBER=+91 6207398499

VITE_WISHES_WHATSAPP_NUMBER=+91 7992371912
VITE_RSVP_GOOGLE_FORM_ACTION_URL=
VITE_RSVP_GOOGLE_FORM_NAME_ENTRY=
VITE_RSVP_GOOGLE_FORM_PHONE_ENTRY=
VITE_RSVP_GOOGLE_FORM_GUESTS_ENTRY=
VITE_RSVP_GOOGLE_FORM_CEREMONY_ENTRY=
VITE_RSVP_GOOGLE_FORM_LANGUAGE_ENTRY=
