VITE_OPENWEATHER_API_KEY=
VITE_VENUE_CITY=Madhubani
VITE_GOOGLE_MAPS_EMBED_URL=
VITE_SHEHNAI_AUDIO_URL=
VITE_INVITATION_PDF_URL=invitation.pdf
VITE_WHATSAPP_NUMBER=6207398499

VITE_WISHES_WHATSAPP_NUMBER=7992371912
